*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: lightgrey;
}
.maindiv{
    height:500px;
    width: 100%;
    background-color: white;
    margin-top: 100px;
    border: 2px solid blue;
    border-radius: 10px;
    border-top: none;
}
.firstdiv{
    background-color:  white;
    height: 200px;
    width: 97%;
    margin: auto;
    border-bottom: 5px double rgb(32, 32, 216) ;
    border-radius: 15px;
  
}

.firstdiv p{
 padding-top: 60px;
}
#first{
    margin-left: 50px;
}
.seconddiv{
   
    border: 2px solid rgb(231, 234, 37);
    height: 70px;
    width:94%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 2px;
}


.second{
   height: 250px;
    width: 97%;
    margin: auto;
    margin-top: 20px;
    border: 4px dashed rgb(188, 18, 112);
    outline: 3px solid grey;
    outline-offset: 5px;
}

.subdiv1{
    height: 60px;
    width: 95%;
    margin:auto;
    border:1px solid rgb(220, 250, 52);
    margin-top: 40px;
}
h3{
    margin-left: 10px;
}